
  .container {
  text-align: center;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 55px 130px 1px 190px;
  color: black;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  font-weight: 700;
  font-style: normal;
   line-height: 50px;
   color: #ffff;
}
.container.Height{
  display: block;
  margin: auto;
  width: 1000px;
}
.text{
  font-family: Montserrat;
  text-align: center;
  color:rgb(126, 123, 123);
}
.navigation {
  background-color: var(--primary-color);
  color: white;
  padding: 1rem;
  border-bottom-left-radius: 1rem;
}
.navigation .link {
  color: white;
}
.navigation .link:hover {
  color: rgb(60, 0, 255);
}
.navigation .nav-pills {
  text-align: right;
}
.navigation .nav-brand {
  font-weight: bolder;
  /* font-size: 1.5rem; */
}
.navigation .link-active {
  font-weight: bolder;
}
body {
  font-family: "Montserrat", sans-serif;
  margin: 0rem;
}
hr {
  margin: 2rem 0rem;
}

 
 .container
{
    padding: 0rem 1rem;
}

.container-center {
  max-width: 600px;
  margin: auto;
}
.link {
  text-decoration: none;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.primary-link {
  background-color: var(--primary-color);
 
  color: white;
 
  border-radius: 0.5rem;
}
.secondary-link {
  color: var(--primary-color);
  border-radius: 0.5rem;
  border: 1px solid var(--primary-color);
}
.primary-link:hover {
  background-color:rgb(241, 33, 33);
}
.secondary-link:hover {
  background-color:rgb(236, 222, 17);
}
/* list */
.non-bullet {
  list-style: none;
}
.list-inline {
  list-style: none;
  display: inline;
  padding: 0rem 0.5rem;
}
/* heaeder */
.hero {
  padding: 2rem;
  padding-top: 5rem;
}
.hero .hero-img {
  max-width:300px;
  display: block;
  margin: auto;

}
.hero .hero-heading {
  font-size: 2rem;
  color: rgb(110, 110, 109);
  padding-top: 1rem;
  text-align: center;
}
.hero .hero-heading .heading-inverted {
  color: var(--primary-color);
}

