* {
    margin: 0px;
    padding: 0px;
 }
 
 notNav {
   list-style: square;
   background-color:red;
 
   text-align: center;
   width: 70%;
   margin: 0% 15% 2% 15%;
 }
 notNav1 {
   display: list-item;
 }
 notNav2 {
   color: #F66c98;
   font-family: "Times New Roman", Times, serif;
   text-decoration: underline;
 }
 notNav2:hover {
   background-color: red;
   color: red;
 }
 
 body,
 html {
   height: 100%;
   font-size: 22px; 
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
   line-height: 1.5em; 
   margin: 0em;
   color: white; 
   background-color:cornflowerblue;
   /* background-image:url("./styls.jpg"); */
     background-size: cover;
         background-position: cover;
          overflow-x: hidden;
           background-repeat:repeat;
         
 }
 
 /*fact borders*/
 dashed {
   border-top: 3px dashed #F66c98;
   width: 80%;
   margin: 5%;
   margin-left: 10%;
 }
 
 /* STYLE TEXT */
 top {
   font-size: 130%;
   width: 70%;
   margin: 5% 15% 1% 15%;
   font-family: "serif", monospace;
   color:#F66c98;
 }

 nav{
   text-align:center;
}
 
 /*flexbox container*/
 flex-container {
   display: flex; 
   flex-direction: row; 
   flex-wrap: nowrap; 
   justify-content: center;
   align-items: center;
 
   /* Design properties */
   background-color: #B95C50;
   padding: 35px;
 
   /* Positioning properties */
   position: absolute;
   left: 15%; 
   right: 15%;
   top: 12%; 
 }
 
 heading-home {
   padding: 2%;
   color: #ffffff;
   font-size: 58px;
   letter-spacing: 10px; 
   line-height: 70px; 
   text-align: center;
   text-shadow:2px 2px 8px #691c09;
 }
 
 intro-text {
   background-color: #DE847B; 
   padding: 4%;
   margin: 2%;
   color: white; 
   font-size: 26px;
   letter-spacing: 2px; 
   line-height: 1.4em; 
   text-align: center;
 }
 
 text-section {
   background-color: #DE847B;
   color: white;
   padding: 40px 45px;
   margin-bottom: 0px;
   text-align: center;
   border-style:solid;
   border-width: 50px;
   border-color:#B95C50;
 }
 
 
 /*--IMAGE STYLING + PARALLAX PROPERTY-*/
 main-message,
 image-one,
 image-two,
 image-three {
   position: relative;
   background-position: center;
   background-repeat: no-repeat;
   background-color: #ebab92;
   background-size: contain;
   min-height: 100%; 
 
   background-attachment:fixed;
 }
 
 image-one,
 image-two,
 image-three {
   opacity: 0.7;
 }
 
 main-message {
   background-image: url("https://crispywolf94.qoom.space/PeriodAwareness/periodworkf.jpg");
 }
 
div{
   display:block;
 }
 
 flexbox-container-2{
 display: flex;
 flex-direction:column;
 flex-wrap:nowrap;
 }
 demobox {
   background-color: red ;
   padding: 10px ;
   border: 1px solid green ;
 }
 flex-item{
 flex-basis:100%;
 margin:9%;
 margin-bottom:1px;
 text-align:center; 
 }
 
 text-section-2 {
   background-color: #DE847B;
   color:black;
   padding: 40px 45px;
   margin: 0px;
   text-align: center;
   border-style:solid;
   border-width: 20px;
   border-color:#B95C50;
 }
 
 text-section-3 {
   background-color: #DE847B;
   color:black;
   padding: 40px 45px;
   margin: 0px;
   text-align: center;
   border-style:solid;
   border-width: 20px;
   border-color:#B95C50;
 }
 .img-fluid {
    max-width: 100%;
    height: auto;
 }